@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

@mixin dispflex($displayflex, $justifycontent, $alignitems) {
    display: $displayflex; 
    justify-content: $justifycontent; 
    align-items: $alignitems;
}
@mixin navFlex($alignItems){
    align-items: $alignItems;
}
@mixin transition($time) {
    transition: all $time ease-in-out;
}

@mixin desktopXxd {
    @media (max-width: 1920px) { @content; }
}
@mixin desktop {
    @media (max-width: 1366px) { @content; }
}
@mixin mini-desktop {
    @media (max-width: 1199px) { @content; }
}
@mixin tab_min{
    @media (min-width: 992px) { @content; }
}
@mixin tab{
    @media (max-width: 991px) { @content; }
}
@mixin phone {
    @media (max-width: 767px) { @content; }
}
@mixin phone-xs {
    @media (max-width: 575px) { @content; }
} 

@mixin mainbox ($blackbg,$btn01) {position: relative; display:block;  font-size:18px; padding:8px 13px; font-weight:600; 
    border-radius:5px; color:$blackbg; background:$btn01;
    @include desktopXxd{
        font-size:14px; padding:9px 7px;
    }
}


