.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.toggle-input {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
}

    .toggle-label:before {
        content: "";
        position: absolute;
        top: 3px;
        left: 2px;
        width: 18px;
        height: 18px;
        background-color: white;
        border-radius: 50%;
        transition: transform 0.2s;
    }

.toggle-input:checked + .toggle-label {
    background-color: #4CAF50; /* Customize the background color when the switch is toggled */
}

    .toggle-input:checked + .toggle-label:before {
        transform: translateX(26px); /* Customize the position of the toggle button when the switch is toggled */
    }