.emp-text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 11px;
    width: calc(100% - 50px);
}
#HREmployee_content_table a {
    text-decoration: none;
}
.emp-status {
    color: #000;
    background: unset;
    padding: 0px;
    font-weight: normal;
}

.emp-info {
}

    .emp-info .emp-name {
        color: #2c7dbb;
        font-size: 17px;
        font-weight: bold;
    }
    .emp-info .emp-name a{
        color: #2c7dbb !important;
    }
    .emp-info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        float: left;
    }

    .emp-info .emp-designation {
        color: #101010;
        font-size: 19px;
    }
    .emp-info .status-active span {
        color: #24B545 !important;
    }
    .emp-info .status-inactive span {
        color:#ff0000;
    }
    a.training-status {
        width: 120px;
        text-align: center;
        font-size: 15px;
        color: #7E7E7E;
        border-radius: 15px;
        background: #C6C6C6;
        padding: 6px 5px;
        display: inline-block;
    }

    a.training-status.certificate {
        background: #24B545;
        color: #fff;
    }

    a.training-status.completed {
        background: #00ABFF;
        color: #fff;
    }

.redSpan {
    color: red;
}

.emp-image-bg {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin: 15px 0;
}

.form-group {
    display: flex;
    clear: both;
    width: 100%;
}

h4 {
    font-size: 25px;
    line-height: normal;
    margin-top: 0;
    font-weight: 700 !important;
    margin: 20px 0;
}

label {
    font-weight: 600;
    font-size: 16px;
    vertical-align: middle;
    color: #000;
}

.form-control, select {
    height: 35px;
    font-size: 14px;
    font-weight: 400;
}

.btn-red {
    background: var(--red-color);
    font-size: 16px;
    color: var(--white-color);
    font-weight: 500;
    min-width: 120px;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

table#list tbody tr {
    background: white !important;
    font-size: 14px;
    font-weight: 500;
}

table#list th {
    font-weight: bold;
    color: black;
    font-size: 15px;
    background: white !important;
}

.user-name-show a {
    position: absolute;
    top: 0;
    right: -35px;
    width: 50px;
    height: 35px;
    background: url(../image/eye.png) no-repeat center;
    background-size: 67%;
    background-color: #e5e5e5;
}

.blur-background {
    filter: blur(5px); /* Adjust blur amount as needed */
    pointer-events: none; /* Allow clicks to pass through the blurred background */
}