@model IEnumerable<EntityModels.Models.HomeExpenseWeeklySalesSetting>
@{
}

@if (Convert.ToString(ViewBag.StatusMessage) == "Success")
{
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        toastr.success('Group Account created Successfully');
    </script>
}
@if (Convert.ToString(ViewBag.StatusMessage) == "Delete")
{
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('Group Account deleted Successfully');
    </script>
}
@if (Convert.ToString(ViewBag.StatusMessage) == "Edit")
{
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        toastr.success('Group Account updated Successfully');
    </script>
}
@if (Convert.ToString(ViewBag.StatusMessage) == "Exists")
{
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('Group Account Name is already exists.');
    </script>
}
@if (Convert.ToString(ViewBag.StatusMessage) == "Error")
{
    <script>
        MyfunError();
    </script>
}
@if (Convert.ToString(ViewBag.StatusMessage) == "NoItem")
{
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "3000",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "10000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        toastr.success('No Group Account Found');
    </script>
}

@if (Convert.ToString(ViewBag.StatusMessage) == "NoStoreSelected")
{
    <script>
        PopUpSelectStore();
    </script>
}
@if (Convert.ToString(ViewBag.StatusMessage) != "NoStoreSelected")
{
    <div class="special_new">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Home Expense Weekly Sales Setting
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        @{
                            Html.RenderAction("HomeExpenseWeeklySalesSetting");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function closemodal() {
        $(".divIDClass").hide();
    }
</script>
<div id="popupStoreAlert" class="divIDClass modal-popup modal-danger modal-message max_widht300" style="position: fixed; display:none">
    <div class="modal-content ">
        <div class="modal-header text-center">
            <i class="glyphicon glyphicon-fire"></i>
        </div>
        <div class="modal-title">No Store Selected</div>
        <div class="modal-body ">Please Select Store.</div>
        <div class="modal-footer " style="text-align:center">
            <a class="btn btn-danger" data-dismiss="modal" onclick="closemodal()" ;>Ok </a>
        </div>
    </div>
</div>

<script type="text/javascript">
document.title = '@ViewBag.Title';
</script>
