
$Red01:#FF9999;
$Red02:#CD2020;
$red03:#672630;
$Orange01:#C08B10;
$Orange02:#C05710;
$Green01:#AEEB8E;
$Green02:#4CC010;
$Green03:#264615;
$grey01:#25232B;
$grey02:#333239;
$lightgrey01:#D7D7D7;



$blackbg:#000;
$blackbg01:#0B0B0B;
$blackbg02:#161616;
$whitebg:#fff;
$hyperlinkbg:#0099FF;

$titlefont:#393939;
$textcolor:#2A2A2A;
$fontfamily: 'Maven Pro', sans-serif;
$btn01:#EEEEEE;


.green02bg{background:$Green02;}
.green01bg{background:$Green01;}
.lightgrey01bg{background:$lightgrey01;}
.Red01bg{background:$Red01;}
.Red02bg{background:$Red02;}


 
::-webkit-input-placeholder { color: $whitebg !important;}
::-moz-placeholder {color: $whitebg !important;}
:-ms-input-placeholder {color: $whitebg !important;}
:-moz-placeholder {  color: $whitebg !important;}
