@{
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="header-small special_bg">
    <h3>User Role List <a href="@Url.Action("Create", "UserRoles")" class="pull-right btnbackbox" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a></h3>

</div>

@{
    Html.RenderAction("Grid");
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>